body {
    margin: 0px;
    padding: 0px;
    background-color:#344e41;
    font-family: 'Montserrat', sans-serif;
}
.topic {
    padding: 50px 20px;
    font-size: 1.5rem;
    min-height: 350px;
}
h1 {
    text-align: center;
    color:white;
    font: ultra-expanded 300 4em Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2 {
    font: small-caps bold 2em 'Montserrat', sans-serif;
    font-stretch: extra-expanded;
    text-align: center;
}
h5 {
    font: small-caps bold 1.5em 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color:#dad7cd;
}
.topic a {
    font-weight: 600;
    color:black;
}
#guide a:hover {
    color: rgb(253, 61, 93);
    transition: 1s;
    text-decoration: none;
}
#how {
    background: #dad7cd;
    padding: 50px 20px;
}
#about {
    background:#dad7cd;
    padding: 50px 20px;
}
#about h3 {
    text-align: center;
    font: 1.25em;
}
#guide {
    background: #588157;
}
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-white {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    width: 300px;
    text-align: center;
}
.card-white img{
    width: 180px;
    height: 180px;
    object-fit: contain;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight:100;
    background-color:#344e41;
}
#mainNavbar .nav-link {
    color: whitesmoke;
}
#mainNavbar .nav-link:hover {
    color:grey;
}
#mainNavbar .navbar-brand {
    color: #84ac83;
    font-size: 1.5rem;
    font-weight: 700;
}
footer {
    background-color: rgb(92, 91, 91);
    padding: 10px;
    border-bottom: 10px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-decoration: none;
}
footer a:hover{
    text-decoration: none;
    color:  black;
}
#map {
    display: flex;
    justify-content:space-around;
    max-height: 750px;
}