body {
    margin: 0px;
    background-color: #dad7cd;
    font-family: 'Montserrat', sans-serif;
}
section {
    margin: 0;
}
.topic {
    padding: 50px 20px 50px 20px;
    font-size: 1.5rem;
    min-height: 350px;
}
#left {
    background: #344e41 center/cover no-repeat url(images/leBalconPhoto.jpg) ;
    width:50%;
    min-height:750px;
    float:left
}
#right {
    background:  #344e41;
    margin-left:50%;
    height:350px;
    padding: 200px 50px;
    text-align: center;
}
#bike {
    font-size: 3em;
    font-stretch: extra-expanded;
    transform: rotate(-25deg);
    transition: 3s;
    color: #dad7cd;
}
.clear {
    clear:both;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-stretch: ultra-expanded;
    text-align: center;
    font-weight: 300;
    color:white;
}
h2 {
    font: small-caps bold 2em 'Montserrat', sans-serif;
    font-stretch: extra-expanded;
    text-align: center;
}
h5 {
    font: small-caps bold 1.5em 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color:#dad7cd;
}
a:hover {
    color: rgb(253, 61, 93);
    transition: margin 2px 1s;
}
#vtt {
    border: solid black;
    padding: 5px 15px;
}
#how {
    background: #588157;
    padding: 50px 20px 50px 20px;
}
#about {
    background:#dad7cd;
    padding: 0 10% 5% 10%;
}
#about h3 {
    font-size: 1.25em;
}

#guide {
    background: #588157;
}
.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-white {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    margin: 1px;
    width: 300px;
    text-align: center;
}
.card-white img{
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.topnav {
    background-color: gray;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #F2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}
  .topnav a:hover {
    background-color: #ddd;
    color: black;
}
  .topnav a.active {
    background-color: #F2B6FB;
    color: white;
}
footer {
    background-color: rgb(92, 91, 91);
    padding: 10px;
    border-bottom: 10px solid black;
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 596px){
    #bike {
        font-size: 1.5em;
    }
    h2 {
     font-size: 1.5em;
    }
    h3 {
        font-size:1em;
    }
    
}